#---------------------------
# temporary Files
#---------------------------
/[._]*.s[a-w][a-z]
/[._]s[a-w][a-z]
/*.un~
/Session.vim
/.netrwhist
/.\#*
/*.tmp
#---------------------------

#---------------------------
# backup files
#---------------------------
/*~
/*.orig
/*.bak
#---------------------------

#---------------------------
# OS dependent files
#---------------------------
/.DS_Store
/Thumbs.db
#---------------------------

#---------------------------
# bundler specific
#---------------------------
/.bundle/
/vendor/bundle/
/Gemfile.lock
#---------------------------

#---------------------------
# log & temp files
#---------------------------
/log/*
/tmp/*
!/log/.gitkeep
!/tmp/.gitkeep
#---------------------------

#---------------------------
# pypi
#---------------------------
/build/
/dist/
/*.egg-info/
#---------------------------

#---------------------------
# others
#---------------------------
/~$*
/__pycache__/
/.vagrant/
/.idea/
#---------------------------

